<mat-toolbar class="topbar">

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <div class="user-section">
    <span class="user-name">{{ userDisplayName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="User menu" class="avatar-button">
      <img src="/assets/images/profile/user-1.jpg" class="user-avatar rounded-circle object-cover" width="40" height="40" />
    </button>
  </div>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow">
    <div class="px-3 py-2 border-bottom">
      <div class="fw-semibold">{{ userDisplayName }}</div>
    </div>
    
    <button mat-menu-item (click)="editProfile()">
      <mat-icon class="d-flex align-items-center">
        <i class="bi bi-person-gear icon-18 d-flex"></i>
      </mat-icon>
      <span>Chỉnh sửa tài khoản</span>
    </button>
    
    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()" class="text-danger">
      <mat-icon class="d-flex align-items-center">
        <i class="bi bi-box-arrow-right icon-18 d-flex"></i>
      </mat-icon>
      <span>Đăng xuất</span>
    </button>
  </mat-menu>
</mat-toolbar>