<div class="locao-tables col-12 col-lg-4">
  <!-- Process Parameters Table -->
  <div class="locao-table-section">
    <h4 class="section-title">
      <mat-icon>settings</mat-icon>
      Tham số quy trình
    </h4>
    <form [formGroup]="paramForm">
      <table class="stats-table compact">
        <thead>
          <tr>
            <th class="center">Tên</th>
            <th class="center">Đơn vị</th>
            <th class="center">Giá trị</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of processParamsList; trackBy: trackByParamId">
            <td class="left">{{ param.ten }}</td>
            <td class="text-center">{{ param.donVi }}</td>
            <td class="text-right">
              <!-- Input cho tất cả params -->
              <input
                *ngIf="shouldShowInput(param)"
                type="text"
                inputmode="decimal"
                pattern="^\\d*(\\.\\d*)?$"
                [formControlName]="param.code"
                class="percent-input"
                [disabled]="isParamDisabled(param)"
              />
              <!-- Span cho calculated-only formulas -->
              <span class="calculated-value"
                *ngIf="
                  !shouldShowInput(param) && !isSelfReferencingFormula(param)
                "
              >
                {{
                  getCalculatedDisplayValue(param.code) | adaptiveNumber : 2 : 2
                }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
