<div class="page-header">
  <h3 class="title">Quản lý loại quặng</h3>
</div>

<app-table-common
  [columns]="columns"
  [fetcher]="fetcher"
  [pageSizeOptions]="[5, 10, 20, 50]"
  [defaultPageSize]="10"
  [enableActions]="true"
  [showViewAction]="false"
  [showEditAction]="true"
  [showDeleteAction]="true"
  [showCreateAction]="true"
  [confirmDelete]="confirmDelete"
  [deleteHandler]="deleteHandler"
  [enableSearch]="true"
  [searchPlaceholder]="'Tìm kiếm loại quặng'"
  (selectEdit)="onEdit($event)"
  (create)="onCreate()"
></app-table-common>

