<div class="page-header">
  <h3 class="title">Gang đích</h3>
</div>
<app-table-common
  [columns]="columns"
  [fetcher]="fetcher"
  [pageSizeOptions]="[5, 10, 20, 50]"
  [defaultPageSize]="10"
  [enableActions]="true"
  [showCreateAction]="true"
  [showViewAction]="true"
  [showEditAction]="true"
  [showDeleteAction]="true"
  [showCloneAction]="true"
  [viewActionText]="'Chi tiết phối trộn'"
  [confirmDelete]="confirmDelete"
  [deleteHandler]="deleteHandler"
  [enableSearch]="true"
  [searchPlaceholder]="'Tìm kiếm gang đích'"
  (create)="onCreate()"
  (view)="onMix($event)"
  (selectEdit)="onEdit($event)"
  (clone)="onClone($event)"
></app-table-common>
